<h1>Creation de Profil</h1>
<html>
  <body>
    <!-- ... -->

      <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'email' %>
      <%= text_field_tag 'email', @user.name %>
      <br /> <br />

      <%= label_tag 'password_digest' %>
      <%= text_field_tag 'password_digest', @user.password_digest %>
      <br /> <br />


      <%= submit_tag "Connexion" %>

    <% end %>

    <!-- ... -->
  </body>
</html>
