<h1>site de gossip</h1>
  <p>Bienvenue dans la liste des potins</p>
<h4><%= link_to "nouveau", new_gossip_path %></h4>

  <div class="card-columns">
    <% @gossips.each do |gossip| %>

      <div  class="card text-white bg-secondary mb-3 " style="max-width: 20rem;">
        <div class="card-header"><%= gossip.user.first_name %><br/></div>
        <div class="card-body">
          <h5 class="card-title"><%= gossip.title %><br/></h5>
          <p class="btn btn-warning"><%= link_to "Détails", "/gossips/#{gossip.id}" %></p>
          <p class="btn btn-warning"><%= link_to "#{gossip.user.city.name}", "/cities/#{gossip.user.city_id}" %></p>

        </div>
      </div>

    <% end %>
  </div>
